<div id="be-inspired-section">
  <div id="be-inspired-content-box">
    <h1 id="be-inspired-header">Be Inspired</h1>
    <p id="be-inspired-header2">Learn more about how creatives like yourself invested in themselves</p>
  </div>
</div>
