<div id="be-inspired-section">
  <div id="be-inspired-content-box">
    <h1 id="be-inspired-header">Be Inspired</h1>
    <p id="be-inspired-header2">Learn more about how creatives like yourself invested in themselves</p>
  </div>
</div>

<div id="be-inspired-intro-section">
  <div id="be-inspired-intro-content">
    <p class="text-center">Are you ready to take that step and invest in yourself? These creativepreneurs sure did! Hear what they have to say, and check out their thriving businesses!</p>
  </div>
</div>

<div id="be-inspired-jessica">
  <div id="jessica-paragrah">
    <p>"It was so inspiring to teach a watercolor peonies workshop at Creative At Heart this past March! Though all of the ladies differed in terms of skill-level, it didn't matter! Everyone was so supportive, and just had fun!"</p>
  </div>
  <div id="jessica-image-container"></div>
</div>

<div id="be-inspired-liz">
  <div id="liz-paragraph">
    <p>"The Elizabeth Fogarty Workshop is meant to inspire photographers to reach their full potential, improve their art, and attract their ideal clients! I certainly would not have made it this far without similar workshops, but I wanted to create my own."</p>
  </div>
  <div id="liz-image-container"></div>
</div>

<div id="be-inspired-kate">
  <p style="float:right;">"While I was going through my re-branding process, I really started to feel tired and burned out. The Passion Workshop refueld my fire and reminded me of the passion I have for myself and my business."</p>
  <div id="kate-image-container">
  </div>
</div>

<div id="be-inspired-chloe">
  <p style="float:left;">"It's so amazing to invest in some time to be surrounded by like-minded creatives. Everyone has either been where I am, or will be. Sharing our collective knowledge is both empowering and inspirational!"</p>
  <div id="chloe-image-container">
  </div>
</div>
