<body id="home-body">
  <div id="home-content-box">
    <h1 id="home-header">You Are Your Best Investment</h1>
    <p id="home-p">Find the best conferences and workshops for creative entrepreneurs</p>
  </div>
</body>
