/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

body {
  padding-top: 80px;
}

.container {
  background-color: rgba(255, 255, 255, 0.5);
}

.page-header {
  font-family: "Euphoria Script", cursive;
  margin: auto;
}

li a {
  color: #786E73;
  font-size: 14pt;
}

#home-body {
  background-image: url(http://i.imgur.com/XXoRATn.jpg?1);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  margin-top: 100px;
}

#home-content-box {
  background-color: rgba(255,255,255,0.7);
  width: 780px;
  height: 165px;
  text-align: center;
  margin: 0 auto;
  padding-top: 8px;
  border: 2px solid pink;
}

#home-header {
  color: #786E73;
  font-family: "Cinzel", serif;
  font-size: 30pt;
}

#home-p {
  font-family: "Quicksand", sans-serif;
}

#join-us-section {
  width: 100%;
  /*height: 327px;*/
  background-image: url(http://i.imgur.com/r1U6WpQ.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}

#join-us-content-box {
  background-color: rgba(255,255,255,0.7);
  width: 780px;
  height: 165px;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px 0;
  border: 2px solid pink;
}

#join-us-header {
  color: #786E73;
  font-family: "Cinzel", serif;
  font-size: 50pt;
}

#join-us-header2 {
  color: #786E73;
  font-size: 15pt;
  font-family: "Quicksand", sans-serif;
}

#join-us-intro-section {
  width: 100%;
  height: 150px;
  font-family: "Quicksand", sans-serif;
}

#join-us-intro-content {
  width: 550px;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  color: #786E73;
}

#join-us-north {
  width: 100%;
  height: 300px;
  background-color: #f6dce1;
  opacity: 0.8;
  background-image: url(http://i.imgur.com/6xKTU7Q.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 450px;
  padding-top: 20px;
  text-align: center;
}

#north-header {
  font-family: "Cinzel", serif;
  color: white;
  font-size: 30pt;
}

#north-header2 {
  font-family: "Quicksand", serif;
}

#north-paragraph {
  font-family: "Quicksand", sans-serif;
}

#join-us-south {
  width: 100%;
  height: 300px;
  background-color: white;
  opacity: 0.8;
  background-image: url(http://i.imgur.com/EHn9dEP.jpg);
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 550px;
  padding-left: 100px;
  padding-top: 20px;
  text-align: center;
}

#south-header {
  font-family: "Cinzel", serif;
}

#south-header2 {
  font-family: "Quicksand", serif;
}

#south-paragraph {
  font-family: "Quicksand", sans-serif;
}

#join-us-midwest {
  width: 100%;
  height: 300px;
  background-color: #f6dce1;
  opacity: 0.8;
  background-image: url(http://i.imgur.com/6xsfN1T.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 550px;
  padding-top: 17px;
  text-align: center;
}

#midwest-header {
  font-family: "Cinzel", serif;
  color: white;
}

#midwest-header2 {
  font-family: "Quicksand", serif;
}

#midwest-paragraph {
  font-family: "Quicksand", sans-serif;
}

#join-us-pacific {
  width: 100%;
  height: 300px;
  background-color: white;
  opacity: 0.8;
  background-image: url(http://i.imgur.com/qW7sNzP.png);
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 550px;
  padding-left: 100px;
  padding-top: 40px;
  text-align: center;
}

#pacific-header {
  font-family: "Cinzel", serif;
}

#pacific-header2 {
  font-family: "Quicksand", serif;
}

#pacific-paragraph {
  font-family: "Quicksand", sans-serif;
}

tbody tr:nth-of-type(odd) {
  background-color: #f6dce1;
}

#post-section {
  width: 100%;
  height: 327px;
  background-image: url(http://i.imgur.com/IKDT1eY.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}

#post-content-box {
  background-color: rgba(255,255,255,0.7);
  width: 780px;
  height: 165px;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px 0;
  border: 2px solid pink;
}

#post-header {
  color: #786E73;
  font-family: "Cinzel", serif;
  font-size: 35pt;
}

#post-paragraph {
  text-align: center;
  color: #786E73;
}

#post-table-body {
  text-align: center;
  margin: 0 auto;
}

#new-post-header {
  font-family: "Cinzel", serif;
}

#new-post-content {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

#post-edit-content {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

#edit-header {
  font-family: "Cinzel", serif;
  font-size: 30pt;
}

#show-post-title {
  font-family: "Cinzel", serif;
}

#post-show-content {
  text-align: center;
}

#be-inspired-section {
  width: 100%;
  height: 327px;
  background-image: url(http://i.imgur.com/ekxWuxP.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}

#be-inspired-content-box {
  background-color: rgba(255,255,255,0.7);
  width: 780px;
  height: 165px;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px 0;
  border: 2px solid pink;
}

#be-inspired-header {
  color: #786E73;
  font-family: "Cinzel", serif;
  font-size: 50pt;
}

#be-inspired-header2 {
  color: #786E73;
  font-size: 15pt;
  font-family:"Quicksand", sans-serif;
}

#be-inspired-intro-section {
  width: 100%;
  height: 150px;
  font-family: "Quicksand", sans-serif;
}

#title {
  color: pink;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

#quote {
  color: black;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

#author {
  color: black;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

.button {
  text-align: center;
}

a {
  color: pink;
}



#be-inspired-intro-content {
  width: 550px;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  color: #786E73;
}

#be-inspired-jessica {
  width: 100%;
  height: 300px;
  background-color: #f6dce1;
  opacity: 0.8;
  background-image: url(http://i.imgur.com/EZmighQ.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 400px;
  padding-right: 100px;
  padding-top: 85px;
  padding-bottom: 100px;
  font-family: "Quicksand", sans-serif;
  font-size: 17pt;
  text-align: center;
}

#be-inspired-liz {
  width: 100%;
  height: 300px;
  background-color: white;
  background-image: url(http://i.imgur.com/rVcCqg7.png);
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 500px;
  padding-left: 100px;
  padding-top: 40px;
  padding-bottom: 100px;
  font-family: "Quicksand", sans-serif;
  font-size: 17pt;
  text-align: center;
}

#be-inspired-kate {
  width: 100%;
  height: 300px;
  background-color: #f6dce1;
  opacity: 0.8;
  background-image: url(http://i.imgur.com/8NJBEe9.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 400px;
  padding-right: 100px;
  padding-top: 85px;
  padding-bottom: 100px;
  font-family: "Quicksand", sans-serif;
  font-size: 17pt;
  text-align: center;
}

#be-inspired-chloe {
  width: 100%;
  height: 300px;
  background-color: white;
  background-image: url(http://i.imgur.com/jkCd1uf.png);
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 500px;
  padding-left: 100px;
  padding-top: 60px;
  padding-bottom: 100px;
  font-family: "Quicksand", sans-serif;
  font-size: 17pt;
  text-align: center;
}
