<!-- <% @regions.each do |region| %>
<%= region.title %>
<% end %> -->
<div class="region-container-one">
  <div id="north-data">
  <h1>The North</h1>

  <a href="http://bloguconference.com/">BLOGU</a>
  <p>“The BlogU Conference is a 3 day workshop for online influencers. We meet on a college campus. So, your ticket price INCLUDES all of your classes, cafeteria-style meals, social events, and your dorm room! That makes us the most affordable blog conference around.” </p>
  <p>Univeristy of Maryland</p>
  <p>June 10-12, 2016</p>
  <p>Cost: $$</p>

  <a href="http://www.megan-vaughan.com/enlighten">ENLIGHTEN</a>
  <p>“This all-day workshop is co-hosted by Liz Franco and Megan Vaughan. YOU DON’T NEED TO HAVE TOP OF THE LINE EQUIPMENT OR ELABORATE SET UPS TO CREATE A BEAUTIFUL IMAGE. TOGETHER, MEGAN AND LIZ WILL TEACH YOU HOW TO AWAKEN YOUR CREATIVE SOUL, FIND BEAUTY IN YOUR SURROUNDINGS AND DRAW INSPIRATION FROM YOUR SUBJECT. There will be 4 styled sessions attendees will be able to shoot including an elopement, maternity, family and bridal, all styled by liz franco.”</p>
  <p>Bedford, VA</p>
  <p>August 1, 2016</p>
  <p>Cost: $$$</p>

  <a href="http://thesignatureceo.com/">THE SIGNATURE C.E.O CONFERENCE</a>
  <p>“The Signature C.E.O. (Chief EVENT Officer) Conference is a developmental conference geared towards defining the road map to success for wedding and event professionals. This 2-day event is an opportunity for attendees to experience a hands-on instructional conference developed to challenge and empower them! With your guidance and support we will provide tools for the attendees to take their business to the next level of success. This will be an energetic and impactful experience for all! ” </p>
  <p>East Hyattsville, MD</p>
  <p>October 31-November 1, 2016</p>
  <p>Cost: $$</p>
</div>
</div>


<div class="region-container-two">
  <h1>The South</h1>

  <a href="http://www.charlestonphotoworkshops.com/">CHARLESTON PHOTOGRAPHY WORKSHOPS</a>
  <p>“Intensive photography and video educational experiences by world-renowned instructors in the beautiful historic setting of Charleston named by Conde Nast Traveler Magazine as the #1 City in America for the Third Consecutive Year. Why take a photography workshop in a remote setting when you can enjoy the comforts and southern charms of Charleston! Our workshops are unique and intended to inspire and awaken the visual artist in each of us. Ranging from workshops designed to lift the aspiring amateur or beginner to specialty workshops aimed at the working professional we offer a once in a lifetime experience. Our instructors are hand picked as the best of their specialties whether shooting travel for National Geographic, advertising for American Express or winning Pulitzer Prizes.”</p>
  <p>Charleston, SC</p>
  <p>Multiple Times Per Year</p>
  <p>Cost: $$</p>

  <a href="http://www.inspiredtheretreat.com/">INSPIRED RETREAT</a>
  <p>“Inspired is an AMAZING RETREAT EXPERIENCE FOR CREATIVE WOMEN ENTREPRENEURS TO GROW, CONNECT AND BE INSPIRED. Located an hour outside Nashville, Tennessee, our experience takes place at a cozy country inn hidden among a grove of cedar, poplar and hickory trees with a creek running through the center of the property. Limited to only 24 available seats, Inspired offers an intimate learning and creative experience. attendees will have the opportunity to truly connect with both speakers and attendees alike. With learning sessions that nurture not only your business but your personal and creative soul too, Inspired offers a one of a kind opportunity to rest and rejuvenate. Our experience is truly unlike any conference or workshop available to creatives.”</p>
  <p>Nashville, TN</p>
  <p>May 1-4, 2016</p>
  <p>Cost: $$$</p>

  <a href="http://www.gather-workshop.com/">GATHER WORKSHOP</a>
  <p> “Gather is a 2-day creative workshop designed to encourage *AND* educate the creative entrepreneur. We host industry speakers as they present on everything from finances and branding to business boundaries and creative inspiration. with only 22 attendees at each event, we promise you’ll walk away with a genuine support group and new community of people for you and feel heard and loved throughout the weekend. We focus on the balance between practicality and personal touches – making sure you leave with new resources to help grow your business and confidence in the fact that your art matters. ” </p>
  <p>Atlanta, GA</p>
  <p>August 4-5, 2016</p>
  <p>Cost: $</p>

  <a href="http://creativeatheartconference.com/">CREATIVE AT HEART CONFERENCE</a>
  <p>  “Creative at Heart Conference is a two day conference that will leave you with an encouraged and inspired heart. You’ll receive presentations by industry leaders in a variety of creative fields, intimate q+a panels specific to your craft, amazing SWAG, and best of all: a close-knit community of creatives that you won’t find anywhere else. Creative at heart was designed for you, the creatives. our desire is to provide practical and affordable education for small business owners and big dreamers. past attendees have been planners, photographers, florists, etsy shop owners, stationary designers, bakeries, hair and make up artists, rental companies and MORE!!! the majority of our attendees are in the first 1-3 years of business ownership, or haven’t started yet!! our desire is to bring the creative EXPERIENCE right to your doorstep, which is why we host c@H all over the country (and out of the Country – hello, australia!). Our mission is simple: we strive to live out #communityovercompetition by empowering, educating and bringing together like-minded creatives in a welcoming, safe and intentional environment.”</p>
  <p>Memphis, TN</p>
  <p>November 13-14, 2016</p>
  <p>Cost: $$</p>

</div>

<div class="region-container-one">
  <h1>The Midwest</h1>

  <a href="http://www.risingtidesociety.com/conference/www.alexandvaleducation.com">THE WORKSHOP EXPERIENCE WITH ALEX + VAL</a>
  <p>“We both share a love for community over competition in the industry and have experienced the benefits of this selfless mentality firsthand. We believe the more we pursue community, share encouragement, and humbly approach education together, the more our industry and market will grow. During this full-day workshop, you will experience an intimate day of tips and insight from Alex + Val with hands-on training and critique to improve your photography business. Topics of conversation will include Business Do’s and Don’ts, Marketing, Client Interaction, Authentic Pose Direction and Post Processing. Our time together will include both oral presentation and group discussion with real-time shooting, direction and post-processing critique. Attendees are encouraged to bring a laptop computer with Lightroom and/or Photoshop in addition to their DSLR and preferred note-taking method. A styled shoot featuring local Des Moines area vendors and a real couple will be coordinated and each attendee will receive a new headshot photographed by Alex + Val.” </p>
  <p>Des Moines, IOWA</p>
  <p>May 7, 2016</p>
  <p>Cost: $$-$$$</p>
</div>

<div class="region-container-two">
  <h1>The Pacific Northwest</h1>

  <a href="http://indulge.today/">INDULGE</a>
  <p>“Indulge is a two-day wellness and creative retreat and gathering helping to empower and grow your inner self and indulge in life’s offerings. The Retreat will take place on November 11 – 13th 2016 at The General’s Daughter in Sonoma, CA. You will learn to practice with intent and purpose to help you build a passionate business and live your authentic self. You will be guided by a team of inspiring and encouraging leaders and influencers and meeting other like-minded individuals and build lasting friendships for a remarkable and unforgettable time. Both days will create a balance to rest the mind, stumble upon new challenges and discover newfound talents. You will be surrounded by positive energy, practicing to stay focused, be present and part of this community.”</p>
  <p>Sonoma, CA</p>
  <p>November 11-13, 2016</p>
  <p>Cost: $$$</p>

  <a href="http://www.ohsoinspired.com/">OH SO INSPIRED</a>
  <p>“Sometimes it’s not finding inspiration, but rather cultivating it from what already exists. In 2014, Oh So Inspired started when Nancy Liu Chin of Nancy Liu Chin Designs, Mary Phan of Very Mary Inspired and The Sketchbook Series , and Kelly McLeskey-Dolata of A Savvy Event got together to share how each reignited a passion for their work. For Kelly, it meant remembering that her goal was to provide her clients with a unique event —each one a stand-out because of her care and creativity. Nancy needed to challenge herself again—delving deeper to create original designs that might perhaps serve as motivation for others. Mary’s journey took her back to her roots as a sketch artist, but also down a new path as a teacher—her endeavor fueled by the excitement of the students in her classes.For these women, the inspiration necessary to take their work and business to the next level sparked a desire to bring a different kind of learning. With the success of the inaugural Oh So Inspired retreat in Sonoma, they hope to continue to share with you, a way to find that something within. Perhaps it will click during the sharing of stories, or an AH-HAH moment will strike after hearing one of our presenters speak, or maybe you’ll awaken the inner artist after participating in one of the many interactive lessons. In the end, the goal is for you to see that Oh So Inspired is really just Oh So You…We can’t wait to meet you!” </p>
  <p>Sonoma, CA</p>
  <p>November 6-9, 2016</p>
  <p>Cost: $$$</p>
</div>
